body {
    background-color: black;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    margin: 1em;
    border: 0.5em solid gold;
    border-radius: 0.5em;
}